extends layout.pug

block content
  .card.text-bg-light.mb-5
    .container
      .card-header 
        h1.text-primary About me
      .contact-bg
        container
          .card-body
            img.img-fluid.img-thumbnail.rounded.float-end(src='./img/verstegen_j.jpg' width="180px")
            p My name is Jeroen (Jerome), very pleased to meet you!
            p I was born in Amsterdam in 1956 and, although I have lived in many other cities and countries when I was young, Amsterdam has always been my home. Its unique history and atmosphere are inseparably connected to each other, and I am always on the lookout for new facts and stories about the city.
            p Learning about Amsterdam and its famous history also triggered the curiosity about other parts of this so-called Low Holland area. The fascinating way this small country created the world's biggest marine and trade fleet in the 17th century is one of the things that makes this area so special. <br/> Although I do feel some pride about this fact, I am also very much aware that there have been - and still are - many situations where the human factor was less important than financial gain. And I do think that this part of the story also has to be told.
            p Before being a guide, I was a bar owner in the Amsterdam district "de Jordaan". I loved that work, making people feel happy and relaxed has always been something that comes natural to me. But after 15 years, it was time for a new episode. <br/> And I have also been a computer programmer, a teacher, an actor and a tourist guide in France. With the experience and the knowledge I acquired over the years, the step to becoming a tourist guide in my hometown was a natural one. <br/> Being an ex-bartender and an ex-teacher, I am always in for a joke and a laugh. Life is too serious as it is 🙂
            p I have been giving tours for different sort of groups, in four different languages, at different locations in and around Amsterdam since 2017. And according to the reviews, my guests have always been very happy with my tours.
            p I speak English as good as fluently, which is not exceptional in the Netherlands. Because I lived in the south of France for two years, my French is also pretty good. And, not too difficult for a Dutchman, I speak German reasonably well too, although the grammar is a bit 'rusty'. <br/>Besides those languages I am trying to learn Spanish, but I am not yet at a 'tour-giving' level 🤫
            p I am married and have two grown-up sons. Both of them have a beautiful daughter, born in 2024. So I am also a very proud granddad now 😍. <br/>I still live in the heart of the city, in Amsterdam, I couldn't live anywhere else.
            p I hope to get to know you very soon and to share some of my stories with you.
            p If there is one of my tours you like, but you want some adjustments, or if you want to combine two tours or subjects, just reach out, I am sure I will be able to prepare a touryou will not easily forget.
            p I have a license to guide people through the Amsterdam city center. <br/> I own a rather old but very well maintained large car (Volvo V70) that has room enough for 3-4 passengers. Or I could rent a minibus; I have a driver's license to transport up to 8 passengers.
            .row.border-top
              .d-flex.justify-content-lg-end
                span 
                  a(href="/conditions") Terms & Conditions
              //- .col.text-end.small.text-muted (Origineel in Nederlands; anders Google vertaling)
