extends layout.pug

block content
  .card.text-bg-light.mb-5
    .container
      .card-header 
        h1.text-primary Over mij
      .contact-bg
        container
          .card-body
            img.img-fluid.img-thumbnail.rounded.float-end(src='./img/verstegen_j.jpg' width="180px")
            p Mijn naam is Jeroen Verstegen. Ik ben een professionele gids in Amsterdam en Noord-Holland. Ik neem u graag mee naar alle speciale historische plaatsen, waarover ik u alles zal vertellen dat ik erover weet.
            p Ik ben in 1956 geboren in Amsterdam en hoewel ik in meerdere steden en landen heb gewoond, is Amsterdam, altijd mijn thuis gebleven.
            p De unieke sfeer en de historie van de stad zijn onlosmakelijk met elkaar verbonden en ik ben altijd op zoek naar nieuwe weetjes en verhalen over de stad. 
            p Leren over Amsterdam en zijn beroemde geschiedenis wekte ook de nieuwsgierigheid naar andere delen van dit zogenaamde Laag-Hollandse gebied. De fascinerende manier waarop dit kleine land in de 17e eeuw 's werelds grootste zee- en handelsvloot creëerde, is een van de dingen die dit gebied zo speciaal maken. 
            p Hoewel ik hier ook enigszins trots op ben, ben ik me er ook zeer van bewust dat er veel situaties zijn geweest - en nog steeds zijn - waarin de menselijke factor minder belangrijk was dan financieel gewin. En ik vind wel dat dit deel van het verhaal ook verteld moet worden.
            p Voordat ik gids werd, was ik bareigenaar in de Amsterdamse wijk "de Jordaan". Ik hield van dat werk, mensen zich gelukkig en ontspannen te laten voelen, is altijd een drijfveer voor mij geweest. Maar na 15 jaar was het tijd voor een nieuwe fase in mijn leven.
            p Behalve bareigenaar was ik computerprogrammeur, leraar, acteur en toeristengids in Frankrijk. Met de ervaring en de kennis die ik in de loop der jaren heb opgedaan, was de stap om gids te worden in mijn geboortestad een hele logische.
            p Mijn rondleidingen doe ik met verschillende groepen, in vier verschillende talen, op verschillende locaties in en rond Amsterdam.
            p
            p Ik ben getrouwd en heb twee volwassen zonen. Ik woon nog steeds in het hart van de stad, in Amsterdam, ik zou nergens anders kunnen wonen.
            p
            p Ik hoop snel kennis met u te kunnen maken en mijn verhalen met u te delen.

            .row.border-top
              .col
                a(href="/conditions") Algemene voorwaarden
              .col.text-end.small.text-muted (Origineel in Nederlands; anders Google vertaling)
