extends layout.pug

block content
  .card.text-bg-light.mb-5
    .container
      .card-header 
        h1.text-primary.text-center Welkom bij Jota's Amsterdam Tours

        h2.text-center Wandelingen & tours binnen en buiten Amsterdam
      .card-body
        p Jota heeft diverse wandelingen in Amsterdam samengesteld, zowel in de oude binnenstad als bijvoorbeeld door de Jordaan 
          | of langs de plaatsen waar Rembrandt heeft gewoond en gewerkt met een afsluitend bezoek aan het Rijksmuseum.
        p Ik neem je ook graag mee naar de Zaanse Schans voor 
          | een bezoek aan de fantastische molens. We kunnen fietsen of met de auto gaan. 
        p Of we rijden door de prachtige Beemster en 
          | Schermer polders en bezoeken de Museummolen in Schermerhorn, rijden naar de Rijp voor een wandelingetje en de lunch en 
          | sluiten af met een bezoek aan het prachtige oude Edam.
        p Mijn tours kunnen direct worden geboekt via de website van ToursByLocals.
        p Die website is in het Engels, maar de tours worden ook in het Nederlands, Frans en Duits gegeven.
        h4 Je kunt ook altijd voor speciale wensen direct contact met mij opnemen  
          a(href="mailto:info@jota.nl") via email 
        .row.border.bg-yellow
          h3.text-center LET OP 
            span.text-danger.text-bold Volgend jaar(2025) ben ik van 5 januari tot 31 maart in Valencia, Spanje
          p.text-center.text-primary (Ik ga nog eens proberen Spaans te leren)
        .row.border-top
          .d-flex.justify-content-lg-end
            a(href="/conditions") Algemene voorwaarden

      //- | of via het antwoord formulier hieronder
      //- h3 
      //-   a(href="/tours") klik hier 
      //-   | voor een overzicht van mijn tours
      //- p (Klik op de titel van de tour voor meer informatie en eventueel directe -duurdere- boekingen.)
      //- .form
      //-   h2 Opmerkingen en vragen
      //-   if(msg)
      //-     small=msg
      //-   form(action="/antwoord", method="POST")
      //-     label(for="naam") naam
      //-     input#name(type="text", name="naam")
      //-     label(for="email") email
      //-     input#email(type="email", name="email")
      //-     label(for="opmerking") Opmerking/Vraag
      //-     textarea#opmerking(
      //-       name="opmerking", 
      //-       cols="30", rows="5"
      //-     )
      //-     button(type="submit") Verstuur

