extends layout.pug

block content
  .card.text-bg-light.mb-5
    .container
      .card-header 
        h1.text-primary.text-center Welcome to Jota's Amsterdam Tours

        h2.text-center Walking- & country-tours within and around Amsterdam
      .card-body
        img.img-fluid.img-thumbnail.rounded.float-end(src='./img/zaanseschan002.jpg' width="23%")
        img.img-fluid.img-thumbnail.rounded.float-start(src='./img/amsterdam012.jpg' width="23%px")
        p Jota has put together various walks in Amsterdam, both in the old city centre and/or other neighborhoods like the Jordaan. 
          | We also have prepared very interesting walks through the former Jewish quarter and a along the places where Rembrandt 
          | lived and worked ending of course with a final visit to the famous Rijksmuseum.
        p We also love to go out into the country for instance to 'de Zaanse Schans' to see and experience the Dutch 17th and 18th century life 
          | and visit a couple of very well maintained windmills and the wooden shoe museum.
          | We could even go there on a bike! 
        img.img-fluid.img-thumbnail.rounded.float-start(src='./img/volendam haven jr.jpg' width="23%")
        img.img-fluid.img-thumbnail.rounded.float-end(src='./img/muiderslot.jpg' width="23%px")
        p We can also ride through the impressive World Heritage area of the Beemster and Schermer polders, visit the impressive water pumping windmill 
          | at Schermerhorn and quaint fishermens villages like Edam, Volendam, Marken en de Rijp where we can have a little stroll and stop for lunch.
          | Along the way we can visit one of the many cheese farms in the area.
        p Or how about a visit to a medieval castle the Muiderslot? We could combine this with other countryside tours of course or go to visit 
          | yet another more modern 19th century castle De Haar, for its time the most advanced conveniences like hot and cold running water! 
        img.img-fluid.img-thumbnail.rounded.float-end(src='./img/keukenhof04.jpg' width="23%px")        
        p The tulip season, from end of March till beginning of May, will let us experience the most beautiful colors in nature. 
          | Apart from going to the famous Keukenhof flower exhibition, we can also drive through even larger fields 
          | in the Noordoostpolder, maybe combine with a trip over the Afsluitdijk, the closing dam that blocked the inner sea to protect the land from floods.
        p The 
          a(href='/tours') tours on this site 
          | (and more!) can be directly booked through the website of 
          a(href="https://www.toursbylocals.com/tour-guides/amsterdam/netherlands/guide-profile/jeroen-v-664d21fe96689af34335158a" target='_blank') Tours By Locals
        p That website is in English, but tours can also be given in Dutch, German and French.
        h4 Or you can contact us directly if you have special wishes 
          a(href="mailto:info@jota.nl") through email 
        .row.border.bg-yellow
          h3.text-center Please note: 
            span.text-danger.text-bold From January 5th till March 31st 2025, I will be in Valencia, Spain
          p.text-center.text-primary (I am trying to learn Spanish)
        .row.border-top
          .d-flex.justify-content-lg-end
            span 
              a(href="/conditions") Terms & Conditions

