section.jumbotron.text-center.mainjumbo
  .container
    .d-flex.align-items-center
      a(href='https://www.kayak.co.uk/Amsterdam.1334.guide') 
        img(height='120' src='https://content.r9cdn.net/rimg/seo/badges/v1/DARK_LARGE_FIND_US_KAYAK.png')
      .container
        h1 Amsterdam Private Tours
        h3 Tours by knowlegable, professional and enthousiastic guides 
      a(href="https://www.toursbylocals.com/tour-guides/amsterdam/netherlands/guide-profile/jeroen-v-664d21fe96689af34335158a") 
        span.text-lowercase.fw-bolder.fs-5 More on 
        img(height='100' src='./img/tbl.jpg')
    //- p
    //-   a.btn.btn-info.m-2(href="/contact") Stel uw vraag