section.jumbotron.text-center.mainjumbo
  .container
    h1 Tours in en om Amsterdam
    h3 Privé tours door enthousiaste, professionele gidsen 
    //- p
    //-   a.btn.btn-primary.m-2(href="#") Zie de reviews
    //-   a.btn.btn-info.m-2(href="/contact") Stel uw vraag