// - layout.pug
html(lang="en-US")
  head
    title Jota Services #{title}
    link(rel="icon" href="img/logo.jpg")

    // font Awesome
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css')
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet")
    // MD Bootstrap
    link(rel='stylesheet' href='./css/mdb.min.css')
    // jota css
    link(href="./css/jota.css" rel = "stylesheet")

    // Custom scripts
    //- script(type='text/javascript').

  body.mainpage
    .container
      nav.navbar.sticky-top.navbar-expand-lg.navbar-light.bg-info
        .container-fluid
          a.navbar-brand(href='#') 
            img(src="./img/logo.jpg" width="80px")
          h4
          button.navbar-toggler(data-mdb-button-init type="button" data-mdb-collapse-init data-mdb-target="#navbarToggleExternalContent"  aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation")
            i.fas.fa-bars

          .collapse.navbar-collapse#navbarToggleExternalContent
            ul.navbar-nav.me.auto.mb-2.mb-lg-0
              li.nav-item
                a.nav-link(href='/home') Home
              li.nav-item
                a.nav-link(href='/') Tours
              li.nav-item
                a.nav-link(href='mailto:info@jota.nl') Contact
              li.nav-item
                a.nav-link(href='/about') About
              //- li.nav-item
              //-   a.nav-link(href='https://calendar.app.google/vPQZz7G71UKkdgKH8' target="_blank") Boeken
        .d-flex.align-items-center
      include jumbotron

      main.mb-8
        block content

      //- public/js/mdb.umd.min.js

    footer.text-center.text-muted.bg-info.fixed-bottom
      .text-center.text-light
        p.pt-3 © #{new Date().getFullYear()} 
          a(href="http://www.jota.nl").text-light Jota Services

    script(type='text/javascript' src='./js/mdb.umd.min.js').
    

    
    

