#myModal.modal.fade(tabindex='-1' aria-lablledby="myModalLabel" aria-hidden="false")
  .modal-dialog
    .modal-content
      .modal-header
        h5#myModalLable.modal-title Website moved
        button.btn-close(type='button' data-mdb-ripple-init='' data-mdb-dismiss='myModal' aria-label='Close')
      .modal-body 
        p please visit us at www.jotatours.nl
      .modal-footer
        button.btn.btn-secondary(type='button' data-mdb-ripple-init='' data-mdb-dismiss='myModal') Close
        button.btn.btn-primary(type='button' data-mdb-ripple-init='') Save changes
