extends layout.pug
include mixins/tour.pug

block content
  .row
    .container
      h3.text-center klik op de tournaam om te boeken
    .col-lg-6.untransp
      each tour in tours
        if tour.soort==="Stad"
          li.mt-2
            +tour(tour, fotos)
    .col-lg-6.untransp
      each tour in tours
        if tour.soort!=="Stad"
          li.mt-2
            +tour(tour, fotos)

