extends layout.pug

block content
  .card.text-bg-light.mb-5
    .container
      .card-header 
        h1 Algemene voorwaarden Jota Services
      .card-body#legal-list
        h4 Definities
        ol
          li In deze voorwaarden worden de hierna genoemde uitdrukkingen in de navolgende betekenis gebruikt, tenzij uitdrukkelijk anders is aangegeven:
          li Jota Services: de opsteller en gebruiker van deze voorwaarden.
          li de Klant: de afnemer van de diensten van Jota Services.
        h4 Algemeen
        ol
          li Deze algemene voorwaarden zijn van toepassing op alle aanbiedingen, offertes en overeenkomsten tussen Jota Services en een Klant waarop Jota Services deze algemene voorwaarden van toepassing heeft verklaard, voor zover van deze algemene voorwaarden niet door partijen uitdrukkelijk is afgeweken en geschreven.
          li Eventuele afwijkingen van deze algemene voorwaarden zijn slechts van toepassing indien en voor zover schriftelijk overeengekomen.
          li Er zijn geen algemene voorwaarden, noch andere voorwaarden van de Klant van toepassing.
          li Indien een van de voorwaarden in deze algemene voorwaarden van Jota Services nietig is of vernietigd wordt, blijven de overige voorwaarden volledig van kracht. Jota Services en Klant zullen alsdan in overleg treden teneinde ter vervanging van de nietige en/of vernietigde voorwaarden nieuwe voorwaarden overeen te komen, waarbij zoveel mogelijk aan het doel en de strekking van de oorspronkelijke voorwaarde wordt voldaan.
        h4 Aanbiedingen en offertes
        ol
          li Alle aanbiedingen zijn vrijblijvend, tenzij in het aanbod een termijn voor aanvaarding is genoemd.
          li Offertes van Jota Services zijn vrijblijvend; ze zijn 7 dagen geldig, tenzij anders aangegeven. Jota Services is slechts aan de offertes gebonden indien en wanneer de aanvaarding daarvan door de Klant schriftelijk is bevestigd, tenzij anders aangegeven.
          li Aanbiedingen en offertes gelden niet automatisch ook voor toekomstige bestellingen.
        h4 Uitvoering van de overeenkomst
        ol
          li Weersomstandigheden die de beleving belemmeren en/of blokkeren gelden als ontbindende voorwaarde voor alle tours. Of er dergelijke weersomstandigheden zijn, is ter beoordeling van Jota Services of haar vertegenwoordiger.
          li Jota Services is gerechtigd passagiers te weigeren die zich misdragen of onder invloed zijn van alcohol of drugs.
          li Klanten zullen alle instructies van Jota Services of haar medewerkers stipt en onverwijld opvolgen. Toegang tot rondleidingen kan zonder opgaaf van reden worden geweigerd indien en wanneer dit door Jota Services noodzakelijk wordt geacht, bijvoorbeeld in verband met capaciteit, veiligheid, openbare orde, dreigende schade of hinder.
        h4 Vertraging
        ol
          li Indien de Klant niet op het afgesproken tijdstip aanwezig is, worden extra kosten gemaakt door Jota Services aan de Klant in rekening gebracht.
          li Bij overschrijding van de starttijd zijn de eerste vijftien minuten voor rekening van Jota Services. Voor elke verdere vijftien minuten vertraging of een deel daarvan betaalt de klant extra tijd en extra kosten voor begeleiders, locaties, gidsen en andere tourleden.
          li Grote vertragingen veroorzaakt door de Klant kunnen resulteren in het annuleren van (delen van) het programma, zonder enig recht op terugbetaling voor de Klant.
        h4 Betaling
        ol
          li Bij aanvaarding van de tour zal de Klant 50% van het totaal verschuldigde bedrag betalen, tenzij vooraf onderling anders is overeengekomen.
          li Uiterlijk een week voordat de tour plaatsvindt, dient de Klant de resterende 50% van het totaal verschuldigde bedrag te hebben voldaan, tenzij vooraf onderling anders is overeengekomen.
          li Indien de (aan)betaling niet tijdig is voldaan, is Jota Services gerechtigd de overeenkomst zonder rechterlijke tussenkomst of ingebrekestelling te ontbinden, zonder dat de Klant uit dien hoofde recht heeft op enige schadevergoeding. Een en ander onverminderd de rechten van Jota Services.
          li Eventuele incassokosten komen volledig voor rekening van de Klant.
        h4 Annulering door de Klant
        ol
          li In geval een annulering door de klant wordt gedaan,  meer dan 14 dagen voordat de tour zal plaatsvinden, wordt het betaalde bedrag gerestitueerd, minus niet-restitueerbare aankopen zoals tickets. Deze gemaakte kosten worden niet terugbetaald en vallen niet onder deze polis, omdat ze door Jota vooraf zijn ingekocht.
          li Bij annuleringen tot 7 dagen voordat de tour zal plaatsvinden, wordt er geen restitutie verleent.
          li Annuleringen kunnen uitsluitend schriftelijk worden ingediend.
        h4 Gedeeltelijke annulering
        ol
          li Een verzoek tot aanpassing van het aantal passagiers of een andere wijziging van de inhoud van de overeenkomst dient schriftelijk te worden ingediend.
          li Een reductie van het aantal passagiers met een maximale marge van 10% van het oorspronkelijke aantal passagiers kan minimaal 48 uur voorafgaand aan de tour kosteloos worden doorgegeven. Na voornoemd tijdstip geldt de laatst bekende groepsgrootte. Eventueel niet terug te vorderen door Jota Services gemaakt kosten worden wel in rekening gebracht.
          li In het geval van een vermindering van het antal deelnemers van meer dan 10% van de oorspronkelijke groepsgrootte, gelden de voornoemde annuleringsregels.
          li Voor extra deelenemers die binnen 48 uur voor aanvang van de tour worden aangemeld, zal een redelijke extra betaling worden gevraagd.
          li Jota Services behoudt zich het recht voor om te beslissen over het toelaten van extra gasten bij overschrijding van het in de offerte aangegeven aantal gasten.
        h4 Aansprakelijkheid van Jota Services
        ol
          li Jota Services aanvaardt geen aansprakelijkheid voor verlies en/of beschadiging van eigendommen van de Klant. De Klant neemt de verantwoordelijkheid voor al zijn of haar eigendommen.
          li ota Services aanvaardt geen aansprakelijkheid voor schade als gevolg van overlijden of letsel van de Klant, behoudens schade veroorzaakt door opzet of grove schuld van Jota Services.
          li Jota Services aanvaardt geen aansprakelijkheid voor letsel van personen of schade aan eigendommen veroorzaakt bij het betreden van gebouwen of het verlaten van vervoermiddelen. De Klant betreedt gebouwen en voertuigen volledig op eigen risico..
          li Jota Services aanvaardt geen aansprakelijkheid voor schade als gevolg van vertraging bij vertrek of vertraging tijdens de tour.
          li Jota Services aanvaardt geen aansprakelijkheid voor indirecte schade of gevolgschade.
          li Onverminderd de voorgaande leden van artikel 9 is de aansprakelijkheid van Jota Services te allen tijde beperkt tot het bedrag dat onder de verzekering van Jota Services wordt uitgekeerd.
          li Voor zover Jota Services aansprakelijk mocht zijn voor enige schade die niet wordt uitbetaald onder de verzekering van Jota Services, is de aansprakelijkheid van Jota Services te allen tijde beperkt tot het factuurbedrag.
        h4 Aansprakelijkheid van de Klant
        ol
          li De Klant is aansprakelijk voor schade aan de eigendommen van Jota Services of enige derde veroorzaakt door de Klant.
          li De Klant is aansprakelijk voor door Jota Services geleden schade en voor letsel van de medewerkers van Jota Services veroorzaakt door de Klant of diens eigendommen.
          li Bij alle door Jota Services georganiseerde activiteiten is deelname geheel voor eigen risico van de Klant.
          li De Klant vrijwaart Jota Services voor aansprakelijkheden van derden.
        h4 Diensten van derden
        ol
          li Jota Services doet er alles aan om het serviceaanbod, zoals restaurants, musea en dergelijke, evenals reacties en commentaar te controleren, en zal privileges opschorten voor services van derden die zich niet houden aan het beleid van Jota Services.
          li Door deze site te gebruiken, stemt u ermee in om vermeende ongepastheden van een dienst van derden aan Jota Services te melden.
        h4 Klachten
        ol
          li Eventuele klachten dienen uiterlijk binnen 2 dagen na de tour schriftelijk door Jota Services te zijn ontvangen.
          li Klachten die na die tijd binnenkomen, of niet schriftelijk worden ingediend, worden niet in behandeling genomen.
        h4 Toepasselijk recht
        ol
          li Op deze voorwaarden en op alle onder deze voorwaarden tot stand gekomen overeenkomsten is uitsluitend Nederlands recht van toepassing.
          li Alle geschillen die mochten voortvloeien uit deze voorwaarden en/of overeenkomsten die onder deze voorwaarden zijn gesloten, zullen bij uitsluiting worden voorgelegd aan de bevoegde rechter in het arrondissement Amsterdam.
        h4 Veiligheid
        ol
          li Klanten dienen te allen tijde instructies van de gids op te volgen.
          li Bij het negeren van instructies heeft Jota Services het recht de tour af te breken, zonder restitutie van betaling.