extends layout.pug

block content
  .card.text-bg-light.mb-5
    .container
      .card-header 
        h1 Algemene voorwaarden Jota Services
      .card-body#legal-list
        h4 Definitions
        ol
          li In these terms and conditions the hereinafter mentioned expressions will be used in the following meaning, unless explicitly otherwise indicated:
          li Jota Services: the user of these terms and conditions.
          li Customer: the other party.
        h4 General
        ol
          li These general terms and conditions apply to all offers, quotations and agreements between Jota Services and a Customer to which Jota Services has declared these general terms and conditions applicable, as far as these general terms and conditions haven’t been deviated by parties explicitly and in writing.
          li Any deviations from these general terms and conditions are only applicable if and when they are agreed in writing.
          li No general terms of purchase, nor any other terms or conditions put forward by the Customer are applicable.
          li If any of the conditions in these general terms and conditions of Jota Services are null and void or becomes nullified, the remaining conditions will remain in full force. Jota Services and Customer will then confer with each other in order to agree upon new conditions in substitution of the null and/or nullified conditions, in which the purpose and intent of the original condition will be complied with as much as possible.
        h4 Offers and quotations
        ol
          li All offers are free of engagement, unless the offer mentions a term of acceptance.
          li Quotations made by Jota Services are free of engagement; they are valid for   days, unless otherwise indicated. Jota Services is only bound by the quotations if and when their acceptance by the Customer is confirmed in writing, unless otherwise indicated.
          li Offers and quotations do not automatically apply to future orders.
        h4 Implementation of the agreement
        ol
          li Weather conditions which obstruct and/or block the experience apply as a resolutive condition for all tours. Whether there are such weather conditions, lies within the discretion of the guide on duty.
          li Jota Services is entitled to deny passengers who misbehave or are under the influence of alcohol or drugs.
          li Customers shall follow all instructions given by Jota Services or its employees strictly and without delay. Access to tours can be refused without reason given if and when this is considered necessary by Jota Services, for example in connection with capacity, safety, public order, imminent damage or hindrance. 
        h4 Delay
        ol
          li If the Customer is not present at the agreed time, additional costs made by Jota Services will be charged to the Customer.
          li In case of exceeding the start time, the first fifteen minutes are at the expense of Jota Services. For any further fifteen minutes delay or part thereof the Customer shall pay additional time and additional costs for attendants, guides and other tour members.
          li Large delays caused by the Customer can result in the cancellation of (parts of) the program, without any right to repayment for the Customer. 
        h4 Payment
        ol
          li On signing the agreement the Customer shall pay  % of the total amount due, unless mutually agreed in advance.
          li One week before the tour takes place the Customer shall pay the remaining  % of the total amount due, unless mutually agreed in advance.
          li If the down payment isn’t submitted in time, Jota Services is entitled to annul the agreement without judicial intervention or proof of default, without the Customer being entitled to any compensation on that account. All this without prejudice to the rights of Jota Services.
          li Any collecting fees shall be made fully at the expense of the Customer.
        h4 Cancellation by the Customer
        ol
          li Refunds for cancellations made up to   days before the tour is due to take place will be  0%, minus non-refundable purchases such as tickets. These will not be refunded and are not covered by this policy, as they require to be purchased in advance.
          li Refunds for cancellations made up to  days before the tour is due to take place will be  %, minus non-refundable purchases such as tickets. These will not be refunded and are not covered by this policy, as they require to be purchased in advance.
          li Cancellations within  days of the tour commencing will not be entitled to a refund
          li Cancellation can only be submitted in writing.
        h4 Partial cancellation
        ol
          li A reduction of the number of passengers or other alteration of the contents of the agreement has to be done in writing.
          li A reduction in the number of passengers with a maximum margin of  % of the original number of passengers can be introduced free of charge at least   hours prior to the tour. After the aforementioned time the last known size of the group applies.
          li In the case of a reduction in the number of passengers of more than  %, the cancellation conditions of  apply.
          li Additional passengers who are introduced within   hours before a tour will be charged an additional fair price. 
          li Jota Services reserves the right to decide on the admittance of additional guests when the number of guests indicated in the quotation is being exceeded.
        h4 Liability of Jota Services
        ol
          li Jota Services does not accept liability for loss of and/or damage to belongings of the Customer. The Customer takes responsibility for all of his or her belongings.
          li Jota Services does not accept liability for loss as a result of death or injury of the Customer, except for loss caused by intent or gross negligence on the part of Jota Services.
          li Jota Services does not accept liability for injury of persons or damage to belongings caused when entering buildings or exiting modes of transportation. The Customer enters buildings and vehicles fully at his or her own risk.
          li Jota Services does not accept liability for loss due to delay at departure or delay during the tour.
          li Jota Services does not accept liability for indirect or consequential loss.
          li Notwithstanding the previous sections of this the liability of Jota Services is at all times limited to the amount that is paid out under the insurance policy of Jota Services.
          li As far as Jota Services should happen to be liable for any loss which isn’t paid out under the insurance policy of Jota Services, the liability of Jota Services is at all times limited to the amount of the invoice.
        h4 Liability of the Customer
        ol
          li The Customer is liable for damage to the belongings of Jota Services or any third-party caused by the Customer.
          li The Customer is liable for loss suffered by Jota Services and for injury of the employees of Jota Services caused by the Customer or his or her belongings.
          li All activities organized by Jota Services occur fully at the Customer’s own risk.
          li The Customer indemnifies Jota Services against third-party liability.
        h4 Third party services
        ol
          li Jota Services uses its best efforts to monitor service offerings, like restaurants, museums and the like as well as actions and comments, and will suspend privileges to any third party services not adhering to policies of Jota Services. 
          li By using this Site, you agree to report any alleged improprieties of any third party service to Jota Services.
        h4 Complaints
        ol
          li Any complaints must be received in writing within  days after the tour, at the latest.
          li Any complaints received after that time, or not in writing will not be attended to.
        h4 Applicable law
        ol
          li Dutch law is exclusively applicable to these terms and conditions and to all agreements made under these terms and conditions.
          li Any dispute that may arise from these terms and conditions and/or agreements made under these terms and conditions will be exclusively brought to the competent court in the district of Amsterdam.
        h4 Safety
        ol
          li At all times Customers must follow instructions given by the guide.
          li If instructions are ignored, Jota Services has the right to break off the experience, this all without restitution of payment.